<h1>List of Linked Class to Professor</h1>

<table id="professor_subjects-table">
  <tr>
    <th>Class</th>
    <th>Professor</th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">Link Class to Professor</a>