<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>List of Linked Class to Professor</h2></div>

  <!-- Table -->
  <table class="table" id="professor_subjects-table">
    <tr>
      <th>Class</th>
      <th>Professor</th>
      <th></th>
      <th></th>
    </tr>
  </table>
</div>

<br/>



<a href="#/new">Link Class to Professor</a>