<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>Classes</h2></div>

  <!-- Table -->
  <table class="table" id="subjects-table">
    <% @subjects.each do |subject| %>
      <tr>
        <td>
          <a href="/home/<%= subject.id %>"><%= subject.name %></a>
        </td>
      </tr>
    <% end %>
  </table>
</div>
