<div id="professors"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Edukasyon.Routers.ProfessorsRouter({professors: <%= @professors.to_json.html_safe -%>});
    Backbone.history.stop()
    Backbone.history.start();
  });
</script>