<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>List of Classes</h2></div>

  <!-- Table -->
  <table class="table" id="subjects-table">
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </table>
</div>

<br/>

<a href="#/new">New Class</a>