<h1>New Class</h1>

<form id="new-subject" name="subject">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Class" />
  </div>

</form>

<a href="#/index">Back</a>