<div id="subjects"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Edukasyon.Routers.SubjectsRouter({subjects: <%= @subjects.to_json.html_safe -%>});
    Backbone.history.stop()
    Backbone.history.start();
  });
</script>