<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>List of Professors</h2></div>

  <!-- Table -->
  <table class="table" id="professors-table">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
      <th></th>
    </tr>
  </table>
</div>

<br/>

<a href="#/new">New Professor</a>